$surface-strongest: #11171d;
$surface-strong: #1a242d;
$surface-moderate: #24313d;
$surface-weak: #2f353b;
$surface-weakest: #393f45;

$white-strongest: #E7EFF5;
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: #0c1115;
$black-strong: #161b1f;
$black-moderate: #202529;
$black-weak: #2a2f33;
$black-weakest: #34393d;

$red-normal: #F6BAB5;
$red-light: #FFC4BF;
$orange-normal: #FCBF8D;
$orange-light: #FDD9BB;
$yellow-normal: #FFF1AC;
$yellow-light: #FFFBB6;
$green-normal: #D0f1D5;
$green-light: #DAFBDF;
$cyan-normal: #A0D6DA;
$cyan-light: #AAE0E4;
$blue-normal: #90A8BE;
$blue-light: #9AB2C8;
$purple-normal: #D7C8F3;
$purple-light: #E1D2Fd;
$pink-normal: #E5BFCA;
$pink-light: #EFD9DF;

$accent-primary: $blue-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
