$surface-1: #11171d;
$surface-2: #0c1115;
$surface-3: #1a242d;
$surface-4: #24313d;
$surface-5: #49637d;

$accent-1: #90A8bE;
$accent-2: #D7C8F3;
$accent-3: #F6BAB5;
$accent-4: #D0f1D5;
$accent-5: #FFF1AC;
$accent-6: #A0D6DA;

$primary-accent: $accent-1;
$secondary-accent: $accent-2;

$foreground-color: #E7EFF5;

$highlight: $surface-5;
$dimed: #a8a8a8;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-3};
