@use "../colors";

entry {
  transition: all 100ms ease-in-out;
  background: transparentize(colors.$foreground-color, 0.95);
  border: 2px solid transparent;
  padding: 8px;
  margin: 6px;
  border-radius: 3px;

  &:focus {
    border-color: colors.$accent-1;
    background: transparentize(colors.$foreground-color, 0.9);
  }

  &:disabled {
    opacity: 0.3;
  }

  image {
    &.left {
      margin-right: 8px;
      margin-left: 12px;
    }
    &.right {
      margin-left: 8px;
      margin-right: 12px;
    }
  }

  selection {
    background: colors.$primary-accent;
    color: lighten(colors.$foreground-color, 50%);
  }
}
