@use "../colors";

iconview {
  background: colors.$surface-3;

  &:selected {
    color: colors.$secondary-accent;
    background: colors.$primary-accent;
  }
  &:hover:not(:active) {
    color: colors.$secondary-accent;
    background: colors.$secondary-accent;
  }
}
