@use '../colors';
@use '../config';

menu {
  background: colors.$surface-moderate;
  border-radius: config.$radius;
  padding: config.$spacing-medium;
  menuitem {
    padding: config.$spacing-small;
    &:hover {
      background: colors.$white-weakest;
      border-radius: config.$radius;
    }
  }
}
